header {
	
	height: 145px;
	background-color: #bdc3c7;
	border-radius: 10px;
	text-align: center;
	
}

body {
	
	width: 1000px;
	background: #34495e;
	margin: 25px auto;
	
}

header h1 {
	
	font-family: Verdana;
	font-style: italic;
	color: white;
	text-shadow: black 1px 1px 4px;
	padding-top: 15px;
	
}

header h2 {
	
	color: white;
    text-shadow: black 1px 1px 4px;
	
}

nav ul {
	
	list-style-type: none;
	
	
}


nav li {
	
	display: inline;
	margin-right: 40px;
	cursor: default;
}

nav {
	margin-top: 20px;
	text-align: center;
	
}

nav a {
	
	text-decoration: none;
	color: gray ;
	font-size: 16pt;
}

nav a:hover {
	
    color: white;
	font-size: 20pt;
	
}

section {
	width: 1000px;
	border: gray 4px groove;
	text-align: center;
	height: 550px;
	border-radius: 10px;
	
}


section svg {
	width: 1000px;
	height: 700px;
	text-align: center;
}

section svg ellipse {
		fill: none;
	    stroke: gray;
	    stroke-width: 2px;	
}

.neptun {
	fill: none;
	stroke: gray;
	stroke-width: 2px;
}

.sonne {
	fill: #f1c40f;
	stroke: #f1c40f;
	stroke-width: 2px;
}
